{%extends 'mainapp/base.html'%}

{% block content %}
  <link rel="stylesheet" href="static/mainapp/css/histology.css">
  <img class="marginauto" src="media/segmentation/15.jpg" width="500" height="250" align="middle">
  <form class="gg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file" class="btn">Загрузить</label>
    <input id="file"  style="visibility:hidden;" type="file" name="myfile" accept="image/jpeg">
    <button type="submit" id="button">Обработать</button>
  </form>
{% endblock %}

</body>
</html>
